// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
    width: 50%;
    height: 2.5rem;
    background-color: transparent center;
}

.input-field [type="number"]{
    width: 20%;
    max-width: 100px;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0px 1rem;
    background-color: #FFF;
    transition: box-shadow 0.25s ease 0s;
    border-radius: 12px;
    width: 20%;
}

h1 {
    font-size: 5.2rem;
    line-height: 100%;
    margin: 2rem 12px 12px 12px;
}

.input_field [type="text"]{ 
    width: 20%;
    border-radius: 60px;
    padding: 1px 10px;
}

input [type="text"]{ 
    width: 20%;
    border-radius: 60px;
    padding: 1px 10px;
}

.file-field input.file-path {
    width: 20%;
    border-radius: 60px;
    padding: 1px 10px;
}
