<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Wellcome to sharepet <%= @user.name %>!</h1>
    <p>
      You have successfully logged on to Sharepet as <%= @user.username %>!
      Now it's time to donate or to adopt.
      <br/>
    </p>
    <p>Thanks for using sharepet and have a great day!</p>
  </body>
</html>