<!-- <h1>Share Pet</h1>
<p>Share a pet <%= link_to 'here!', new_animal_path %></p>
<p>See the pets available <%= link_to 'here!', animals_path %></p> -->


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row left">
          <h5 class="header col s12 light">Have a pet to donate?</h5>
        </div>
        <div class="row right">
          <a href='/animals/new'id="download-button" class="btn waves-effect waves-orange teal lighten-1">Share Here!</a>
          <a href='/animals/'id="download-button" class="btn waves-effect waves-orange teal lighten-1">Find one!</a>
        </div>

      </div>
    </div>
    <!-- <div class="parallax"><img src="/assets/background1.jpg" alt="Unsplashed background img 1"></div> -->
    <div class="center"><%= image_tag("background1.jpg", :alt=>"Unsplashed background") %></div>
  </div>