<body>
    <div class="container">
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
          <div class="row left">
            <h5 class="header col s12 light">Have a pet to donate?</h5>
          </div>
      </div>
      <div class="center"><%= image_tag("background1.jpg", :alt=>"Unsplashed background") %></div>
    </div>
  </div>
</body>